
<h1 mat-dialog-title>Post Here</h1>
<div mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Write Your Post Here</mat-label>
          <textarea matInput ></textarea>
        </mat-form-field>
        <br>
    </form>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Add Picture URL Here</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <br>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close >Post</button>
</div>
