<div class="container">
  <mat-card class="card" (click)="openDialog()">
    Type something ....
  </mat-card>
</div>

<div class="container">
  <mat-card class="card post-card" *ngFor="let post of posts">
    <mat-card-header>
      <img
        src="{{ post.profilePic }}"
        alt=""
        mat-card-avatar
        class="example-header-image"
      />
      <mat-card-title>{{ post.username }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ post.post }}
      </p>
      <img mat-card-image src="{{ post.postImg }}" alt="" class="post-image" />
    </mat-card-content>
  </mat-card>
</div>

